# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Large datasets & generated artifacts
dataset/
output/*.tsv
output/*.zip
output/*.log
output/*.parquet

# OS specific
.DS_Store
Thumbs.db
desktop.ini
